<div class="depcore__testimonials-container {{ __SELF__.property('show_as') }}" >
	{% for testimonial in __SELF__.testimonials %}
		<div>
			<blockquote class="testimonial">
				<div class="shortened testimonial-content">{{ testimonial.content|makeExpandable(10)|raw }}</div>
				<footer class='testimonial-meta'>
					{% if __SELF__.property('show_client_logo') and testimonial.client.logo %}
					  <figure><img src="{{ testimonial.client.logo.path }}" alt="{{ testimonial.client.logo.description ?  testimonial.client.logo.description : testimonial.client.name }}"></figure>
					{% endif %}
					<div class="author">
						<strong class="name">{{- testimonial.author -}}</strong>
						<span class='company-meta'>
							<strong class='company-name'>{{- testimonial.client.name -}}</strong> <span class="position">{{- testimonial.company_position -}}</span>
						</span>
					</div>
				</footer>
			</blockquote>
		</div>
	{% endfor %}
</div>
{% if __SELF__.property('show_as') == 'list' %}
  {% partial __SELF__~'::pagination' records=__SELF__.testimonials %}
{% endif %}
